[buildout]
parts =
    openldap
    python-ldap
    instance
    svn-products
    checkouts
    productdistros

# Change the number here to change the version of Plone being used
extends = http://dist.plone.org/release/3.3/versions.cfg
    https://svn.syslab.com/svn/OSHA/buildout/trunk/versions.cfg
    https://svn.syslab.com/svn/OSHA/buildout/trunk/picked_versions.cfg
    picked_versions.cfg
versions = versions
allow-picked-versions = false

eggs = 
    osha.theme
    gocept.linkchecker
    PIL
    Products.ATCountryWidget
# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/thirdparty/
    http://dist.plone.org
    http://download.zope.org/ppix/
    http://download.zope.org/distribution/
    http://effbot.org/downloads
    http://products.syslab.com/products/simple

# Add additional eggs here

# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package
develop = .

[zope2]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/plone.recipe.zope2install
recipe = plone.recipe.zope2install
fake-zope-eggs = true
additional-fake-eggs = 
    ZODB3
url = ${versions:zope2-url}

# Use this section to download additional old-style products.
# List any number of URLs for product tarballs under URLs (separate
# with whitespace, or break over several lines, with subsequent lines
# indented). If any archives contain several products inside a top-level
# directory, list the archive file name (i.e. the last part of the URL,
# normally with a .tar.gz suffix or similar) under 'nested-packages'.
# If any archives extract to a product directory with a version suffix, list
# the archive name under 'version-suffix-packages'.
[productdistros]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/plone.recipe.distros
recipe = plone.recipe.distros
urls =
nested-packages =
version-suffix-packages =

[instance]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/plone.recipe.zope2instance
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
http-address = 8080
#debug-mode = on
user = admin:admin
#verbose-security = on

# If you want Zope to know about any additional eggs, list them here.
# This should include any development eggs you listed in develop-eggs above,
# e.g. eggs = Plone my.package
eggs =
    Plone
    ${buildout:eggs}
    

# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml =
    Products.TextIndexNG3
    osha.theme
    slc.clicksearch
    slc.xliff
    osha.policy

develop = src/

products =
    ${checkouts:location}
    ${productdistros:location}
    ${svn-products:location}

[checkouts]
recipe = iw.recipe.subversion
# Our own Calendaring branch to fix plone3.3rc2 compatibility...
urls = https://svn.plone.org/svn/collective/Calendaring/branches/slc-plone3.3 Calendaring


[zopepy]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/zc.recipe.egg
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy

[svn-products]
recipe = iw.recipe.subversion
urls =
    https://svn.syslab.com/svn/syslabcom/BlueLinguaLink/branches/slc_plone3 BlueLinguaLink

[versions]
osha.theme = 
Products.ATVocabularyManager=1.4.2
Products.TextIndexNG3 = 3.2.17
zopyx.textindexng3 = 4.0.1
zc.recipe.cmmi = 1.1.6
ZODB3 = 3.8.0
p4a.calendar = 1.1
# python-ldap 2.3.10 is broken
python-ldap = 2.3.9
gocept.linkchecker = 3.0dev.slc-r30144
osha.theme = 

[openldap]
recipe = zc.recipe.cmmi
url = ftp://sunsite.cnlab-switch.ch/mirror/OpenLDAP/openldap-stable/openldap-stable-20071118.tgz
# url = ftp://sunsite.cnlab-switch.ch/mirror/OpenLDAP/openldap-stable/openldap-stable-20090411.tgz
extra_options = --with-sasl --with-tls --enable-slapd=no
environment = CPPFLAGS=-D_GNU_SOURCE

[python-ldap]
recipe = zc.recipe.egg:custom
egg = python-ldap
include-dirs  =
        ${openldap:location}/include
library-dirs  =
         ${openldap:location}/lib
rpath =
         ${openldap:location}/lib


