.osha-overlay {
  padding: 1em;
  border:1px solid #666;
  -moz-box-shadow:0 0 90px 5px #000;
  -webkit-box-shadow: 0 0 90px #000;
}

.osha-overlay.full {
  position: fixed;
  display: none;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 30px;
  z-index: 100;
  overflow: auto;
}

.osha-overlay-close {
  background-image: url(++resource++plone.app.jquerytools.pb_close.png);
  position: fixed;
  display: block;
  cursor: pointer;
  height: 30px;
  width: 30px;
  left: 16px;
  top: 16px;
}

#overlay-spinner {
  position: fixed;
  margin: -13px 0 0 -13px;
  left: 50%;
  top: 50%;
  padding: 10px;
  z-index: 100;
  background-color: white;
}
