/* copied from p4acalendar for @@events.html and @@past_events.html */
.eventlist .eventlist_month {
    padding: 5px 0 5px 0;
}

.eventlist H1 {
}

.eventlist H2 {
    font-size: 1.25em;
}

.eventlist .event {
    float: left;
    width: 100%;
    padding-bottom: 5px;
}

.eventlist .event .event_details {
    float: left;
    clear: right;
    text-align: right;
    font-weight: bold;
    width: 15%;
}

.eventlist .event .event_details ABBR {
    border: none;
}

.eventlist .event .event_details ABBR.dtend {
    display: none;
}

.event .location, .day-event-popup .event .description {
    font-size: 0.8em;
}

.event .location {
    color: #999;
}

.eventlist .event .location {
    border-top: 1px dashed #ccc;
    padding-top: 3px;
}

.eventlist .event .event_body {
    float: right;
    width: 83%;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.eventlist .event .event_title {
    display: block;
}

.eventlist .event .description {
    padding-top: 3px;
}

.eventlist A {
    font-weight: bold;
}

/* end eventlist */
